body{
    background-color: aqua;
    height: 97vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(29, 28, 28);
    height: 60vh;
    width: 70vw;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.mando-izq{
    background-color: rgb(4, 0, 255);
    height: 60vh;
    width: 13vw;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.pantalla{
    height: 60vh;
    width: 44vw;
}

.mando-der{
    background-color: red;
    height: 60vh;
    width: 13vw;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.contenedor-menos{
    background-color: rgb(40, 171, 204);
    height: 5vh;
    width: 13vw; 
    border-top-left-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-joystic{
    background-color:rgb(40, 171, 204);
    height: 15vh;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-flechas{
    background-color: rgb(40, 171, 204);
    height: 25vh;
    width: 13vw;
    justify-content: center;
    display: block;
}
.contenedor-boton{
    background-color:rgb(40, 171, 204);
    height: 5vh;
    width: 13vw;
    
}
.contenedor-hueco{
    background-color: rgb(40, 171, 204);;
    height: 10vh;
    width: 13vw;
    border-bottom-left-radius: 50px;
}
.contenedor-mas{
    background-color: rgb(255, 31, 15);
    height: 5vh;
    width: 13vw; 
    border-top-right-radius: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.contenedor-controle{
    background-color:rgb(255, 31, 15) ;
    height: 15vh;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-botones{
    background-color: rgb(255, 31, 15);;
    height: 25vh;
    width: 13vw;
    justify-content: center;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.contenedor-home{
    background-color:rgb(255, 31, 15);
    height: 5vh;
    width: 13vw;
    
}
.contenedor-espacio{
    background-color:rgb(255, 31, 15);
    height: 10vh;
    width: 13vw;
    border-bottom-right-radius: 50px;
}
.minus{
    background-color: black;
    height: 7px;
    width: 20px;
    margin-left: 9vw;
}

.mas{
 height: 5vh;
 width: 5vw;
 display: flex;
 align-items: center;
 justify-content: left;
 padding-left: 15px;

}
.horizontal{
    background-color: black;
    height: 7px;
    width: 20px;
}
.vertical{
    background-color: black;
    height: 20px;
    width: 7px;
    margin-left: -13.3px;
}
.circulo{
    background-color: black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-style: double; 
    border-color: gray;
    border-width: 9px;
}
.redondo{
    background-color: black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-style: double;
    border-color: gray;
    border-width: 9px;
}
.bottom{
    background-color: black;
    height: 22px;
    width: 22px;
    margin-left: 9vw; 
    margin-top: 0.5vw;
}
.casa{
    background-color: black;
    height: 18px;
    width: 18px;
    margin-left: 1.7vw;
    margin-top: 0.5vw;
    border-radius: 100%;
   border-style: ridge;
    border-color: rgb(158, 158, 158);
}
img {
    justify-content: center;
    display: flex;
    width: 42.5vw;
    height: 56vh;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.rowCircle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 12em;
    margin-left: -5em;
}
.columnCircle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 12em;
    margin-left: -7em;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-image: linear-gradient(to right, black, rgb(59, 58, 58));
    color: white;
    font-size: 1em; 
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);   

}
.column-circle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 11.3em;
}
.row-circle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 11.1em;
    margin-top: -6.5em;
    margin-left: 1.em;
}
.fleup {
    width: 0;
    height: 0;
 border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.9em solid rgb(53, 53, 53);
}
.fledown {
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.9em solid rgb(53, 53, 53);
}
.fleleft {
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.9em solid rgb(53, 53, 53);
}
.fleright {
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-left: 0.9em solid rgb(53, 53, 53);
}